@model School.Shared.CustomModels.SessionMasterCustomModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}


<div class="page-title">
    <div>
        <h1><i class="fa fa-edit"></i> Session</h1>
    </div>
    <div>
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-home fa-lg"></i></a></li>
            <li>@Html.ActionLink("Session", "Index")</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-lg-6">
                    <div class="well bs-component">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                <hr />
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.SessionId)
                                 
                                <div class="form-group">
                                    <label class="col-lg-4 control-label" for="inputSession">
                                        @Html.LabelFor(model => model.Session, new { @class = "control-label col-md-2" })
                                    </label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Session, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Session, "", new { @class = "text-danger" })
                                        </div>
</div>

                                <div class="form-group">
                                    <label class="col-lg-4 control-label" for="inputDescription">
                                        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                                    </label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Description)
                                        </div>
</div>

                                <div class="form-group">
                                    <div class="col-md-offset-4 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                        | @Html.ActionLink("Back to List", "Index")
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Javascripts-->
<script src="~/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(window).load(function () {
            $('#loader').hide();
        });
    });
</script>
