@model School.Shared.CustomModels.SectionMasterCustomModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="page-title">
    <div>
        <h1><i class="fa fa-edit"></i> Section</h1>
    </div>
    <div>
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-home fa-lg"></i></a></li>
            <li>@Html.ActionLink("Section", "Index")</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-lg-6">
                    <div class="well bs-component">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <hr />
                                @Html.ValidationSummary(true)

                                <div class="form-group">
                                    <label class="col-lg-4 control-label" for="inputClassId">
                                        @Html.LabelFor(model => model.ClassId, new { @class = "control-label col-md-2" })
                                    </label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.ClassId, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ClassId)
                                        </div>
</div>

                                <div class="form-group">
                                    <label class="col-lg-4 control-label" for="inputTitle">
                                        @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                                    </label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Title)
                                        </div>
</div>

                                <div class="form-group">
                                    <label class="col-lg-4 control-label" for="inputShortDesc">
                                        @Html.LabelFor(model => model.ShortDescription, new { @class = "control-label col-md-2" })
                                    </label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ShortDescription)
                                        </div>
</div>

                                <div class="form-group">
                                    <label class="col-lg-4 control-label" for="inputImage">
                                        @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                                    </label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Image)
                                        </div>
</div>

                                <div class="form-group">
                                    <label class="col-lg-4 control-label" for="inputDDate">
                                        @Html.LabelFor(model => model.DDate, new { @class = "control-label col-md-2" })
                                    </label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.DDate, new { htmlAttributes = new { @class = "form-control", id = "demoDate", placeholder = "Select Date", @readonly = "true" } })
                                            @Html.ValidationMessageFor(model => model.DDate)
                                        </div>
</div>

                                <div class="form-group">
                                    <div class="col-md-offset-4 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Javascripts-->
<script src="~/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/js/plugins/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="~/js/plugins/select2.min.js"></script>
<script type="text/javascript" src="~/js/plugins/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $('#demoDate').datepicker({
        format: "dd-mm-yyyy",
        autoclose: true,
        todayHighlight: true
    });

</script>
