@model IEnumerable<School.Shared.CustomModels.SectionMasterCustomModel>

<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover table-bordered" id="sampleTable">
                <thead>
                    <tr>
                        <th width="8%" align="center">
                            Sr. No
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ClassName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SchoolName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShortDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{ int rowNo = 0; }
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td width="8%" align="center">
                                    @(rowNo += 1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClassName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SchoolName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td title="@item.ShortDescription">
                                    @{
                                        if (item.ShortDescription != null)
                                        {
                                            if (item.ShortDescription.Length > 30)
                                            {
                                                @(String.Format("{0} {1}", item.ShortDescription.Substring(0, 30), "..."))
                                            }
                                            else
                                            {
                                                @item.ShortDescription
                                            }
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        var DDate = item.DDate != null ? item.DDate.Value.ToString("dd-MMM-yyyy") : "";
                                    }
                                    @DDate
                                </td>
                                <td>
                                    <i class="@(item.IsActive == true ? "edt fa fa-check" : "dlt fa fa-times")" id="@item.SectionId" onclick="ChangeStatus('@item.SectionId');"></i>
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Create", new { id = item.SectionId }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.SectionId }) |
                                    <a href="javascript:void(0)" onclick="DeleteStatus(@item.SectionId);">Delete</a>

                                </td>
                            </tr>
                                            }
                                        }
                </tbody>
            </table>
        </div>
    </div>
</div>