<table class="table">
    <tr>
        <th>
            Action
        </th>
        <th>
            @Html.DisplayName("StudentName")
        </th>
        <th>
            @Html.DisplayName("MobileNo")
        </th>
        <th>
            @Html.DisplayName("EmailId")
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in ViewBag.AllocationDetail)
    {
        <tr>
            <td>
                @Html.CheckBox("AdmissionId", new { value = item.AdmissionId, name = "SelectedFruits" })
            </td> 
            <td>
                @item.StudentName
            </td>
            <td>
                @item.MobileNo
            </td>
            <td>
                @item.EmailId
            </td>            
            <td>
                <label class="control-label">
                    @if (item.PromoteToClassId != 1)
                    {
                        <a href="#" onclick="CancelAllocatedStudentSection(@item.PromoteToClassId)" class="btn-link">Cancel</a>
                    }
                </label>                
            </td>
        </tr>
    }

</table>