@model School.Shared.CustomModels.EnquiryDetailCustomModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<h2>Admission Report</h2>

<div class="row">
    <div class="col-md-12">
        <div class="form-group col-lg-4">
            <label class="col-lg-4 control-label" for="inputSessionId">
                Start date
            </label>
            <div class="col-md-8">
                @Html.Editor("StartDate", new { htmlAttributes = new { @class = "form-control", id = "StartDate", placeholder = "Start Date", @readonly = "true", @Value = @DateTime.Now.ToString("dd-MM-yyyy") } })
            </div>
        </div>

        <div class="form-group col-lg-4">
            <label class="col-lg-4 control-label" for="inputSessionId">
                EndDate
            </label>
            <div class="col-md-8">
                @Html.Editor("EndDate", new { htmlAttributes = new { @class = "form-control", id = "EndDate", placeholder = "End Date", @readonly = "true", @Value = @DateTime.Now.ToString("dd-MM-yyyy") } })
            </div>
        </div>

        <div class="form-group col-lg-4">
            <label class="col-lg-4 control-label" for="inputSessionId">
                @Html.LabelFor(model => model.SessionId, new { @class = "control-label col-md-2" })
            </label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.SessionId, ViewBag.SessionInfo as IEnumerable<SelectListItem>, "-- Select Session --", new { @class = "form-control", @id = "SessionId", @onchange = "FillCity()" })
                @Html.ValidationMessageFor(model => model.SessionId)
            </div>
        </div>

        <div class="form-group col-lg-4">
            <label class="col-lg-4 control-label" for="inputClassId">
                @Html.LabelFor(model => model.ClassId, new { @class = "control-label col-md-2" })
            </label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.ClassId,
                new SelectList(Enumerable.Empty<SelectListItem>(), "ClassId", "Title"),
                "Select class",
                                  new { @class = "form-control", @id = "ClassId", @onchange = "FillSection()" })
                @Html.ValidationMessageFor(model => model.ClassId)
            </div>
        </div>

        <div class="form-group col-lg-4">
            <label class="col-lg-4 control-label" for="inputClassId">
                @Html.LabelFor(model => model.SectionId, new { @class = "control-label col-md-2" })
            </label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.SectionId,
                         new SelectList(Enumerable.Empty<SelectListItem>(), "SectionId", "Title"),
                         "Select Section",
                         new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SectionId)
            </div>
        </div>

        <div class="form-group col-lg-4">
            <label class="col-lg-4 control-label" for="inputSessionId">
                Student Name
            </label>
            <div class="col-md-8">
                @Html.Editor("StudentName", new { htmlAttributes = new { @class = "form-control", id = "StudentName", placeholder = "Student Name" } })
            </div>
        </div>
        <div class="form-group col-lg-4">
            <label class="col-lg-4 control-label" for="inputStatus">
                Enquiry Status
            </label>
            <div class="col-md-8">
                @Html.DropDownList("EnquiryStatus", new List<SelectListItem>
                         { new SelectListItem { Text = "Follow Up", Value = "Follow Up"},
                           new SelectListItem { Text = "Registered", Value = "Registered"},
                           new SelectListItem { Text = "Closed", Value = "Closed"}
                           }, "-- Select Status --", new { @class = "form-control", @id = "EnquiryStatus" })
            </div>
        </div>

        <div class="form-group col-lg-8">
            <div class="col-md-offset-10 col-md-12">
                <input type="button" value="Search" class="btn btn-default" onclick="return SearchEnquiry();" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group col-lg-12">
            Total Students: @ViewBag.TotalStudents
        </div>
        <div id="dvShowSearchResult">

        </div>
    </div>
</div>

<script src="~/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/js/plugins/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="~/js/plugins/select2.min.js"></script>
<script type="text/javascript" src="~/js/plugins/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
            $(document).ready(function () {
                $(window).load(function () {
                    $('#loader').hide();
                });
            });

            $('#StartDate').datepicker({
                format: "dd-mm-yyyy",
                autoclose: true,
                todayHighlight: true
            });

            $('#EndDate').datepicker({
                format: "dd-mm-yyyy",
                autoclose: true,
                todayHighlight: true
            });

            function FillCity() {
                $('#loader').show();
                debugger;
                var sessionId = $('#SessionId').val();
                if (sessionId != "") {
                    $.ajax({
                        url: '/AdmissionReport/FillCity',
                        type: "GET",
                        dataType: "JSON",
                        data: { SessionId: sessionId },
                        success: function (classes) {
                            $("#ClassId").html(""); // clear before appending new list
                            $.each(classes, function (i, classinfo) {
                                $("#ClassId").append(
                                    $('<option></option>').val(classinfo.ClassId).html(classinfo.Title));
                            });
                        }
                    });
                }
                else {
                    $("#ClassId").html(""); // clear before appending new list
                }
                $('#loader').hide();
            }

            function FillSection() {
                $('#loader').show();
                var classId = $('#ClassId').val();
                if (classId != "") {
                    $.ajax({
                        url: '/AdmissionReport/FillSection',
                        type: "GET",
                        dataType: "JSON",
                        data: { ClassId: classId },
                        success: function (sections) {
                            $("#SectionId").html(""); // clear before appending new list
                            $.each(sections, function (i, sectioninfo) {
                                $("#SectionId").append(
                                    $('<option></option>').val(sectioninfo.SectionId).html(sectioninfo.Title));
                            });
                        }
                    });
                }
                else {
                    $("#ClassId").html(""); // clear before appending new list
                }
                $('#loader').hide();
            }

            function SearchEnquiry() {
                $('#loader').show();
                var startDate = $('#StartDate').val();
                var endDate = $('#EndDate').val();
                var sessionId = $('#SessionId').val();
                var classId = $('#ClassId').val();
                var sectionId = $('#SectionId').val();
                var enquiryStatus = $('#EnquiryStatus').val();
                var studentName = $('#StudentName').val();

                $("#dvShowSearchResult").html("");
                $("#dvShowSearchResult").html("<div style='text-align: center;background :rgba(0,0,0,0.5);  background-repeat: no-repeat; background-attachment: fixed; background-position: center;width:100%;        height:100%;        position:fixed;        top:0;        left:0;        z-index:999;'><img src='/includes/images/loaders/loader10.gif' style='position:relative;margin: 400px auto;'/></div>");
                var ai = {
                    FromDate: startDate,
                    ToDate: endDate,
                    SessionId: sessionId,
                    ClassId: classId,
                    SectionId: sectionId,
                    EnquiryStatus: enquiryStatus,
                    StudentName: studentName
                }
                $.ajax({
                    type: "post",
                    url: '@Url.Action("SearchAdmissionList", "AdmissionReport")',
                    data: JSON.stringify(ai),
                    datatype: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.trim() != "") {
                            $("#dvShowSearchResult").fadeIn("fast");
                            $("#dvShowSearchResult").html("");
                            $("#dvShowSearchResult").html(data);
                        }
                        else {
                            $("#dvShowSearchResult").html("");
                            $("#dvShowSearchResult").html('<p style="color:#FF0000;font-weight:bold;text-align: center;">No Records Found!</p>');
                        }
                    },
                    error: function (data) {
                        $("#dvShowSearchResult").html("");
                        $("#dvShowSearchResult").html(data);
                    }
                });
                $('#loader').hide();
            }
</script>
